body {
    background-color: whitesmoke;
    height: 100%;
}
h1 {
    color:violet;
    font-family: 'Berkshire Swash', cursive;
    }

h3 {
    color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}
