body {
    background-color: whitesmoke;
    height: 100%;
}
h1 {
    color:violet;
    font-family: 'Berkshire Swash', cursive;
    }

h2 {
    color: black;
    font-family: cursive;
        
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

