body {
    background-color: whitesmoke;
    height: 100%;
}
h1 {
    color:violet;
    font-family: 'Berkshire Swash', cursive;
    }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}


.circle {
    position: relative;
    background-color: palevioletred;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    
}

.circletext {
    position: absolute;
    margin-top: 80px;
    margin-left: 30px;
    color: white;
    font-family: cursive;
}

h3 {
    color: black;
}