body {
    background-color: whitesmoke;
    
    height: 100%;
}
        
h1 {
    color:violet; 
    font-family: 'Berkshire Swash', cursive;
    }        
    
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
    
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

.text-for-about-me-list {
    font-size: 22px;
    color: black;
    line-height: 30px;
    margin-bottom: 100px;
    
        
}
